.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
.Content{
  width: 50%;
  margin: 0;
}
.App-header {
  margin-top:5%;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: rgb(68, 68, 68);
  font-family: sans-serif;
  border-bottom: 1px solid #E3E3E3;
}

.App-link {
  color: #61dafb;
}

#description{
  margin:auto;
  padding: 2%;
}
